{% extends 'base_acquisti.html' %}

{% block title %}
    Dettaglio bici
{% endblock %}

{% block content %}
    <div class="row custom-row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-4">
                <img src="{{ bici.image.url }}" class="card-img-top bike-image-detail" alt="{{ bici.type_of_bike }}">
                <div class="card-body">
                    {% if bici.pk in preferiti %}
                        <a href="{% url 'Acquista:rimuovi-preferito' bici.pk %}" class="text-warning float-right">
                            <i class="fas fa-star fa-2x"></i> <!-- Filled star icon -->
                        </a>
                    {% else %}
                        <a href="{% url 'Acquista:aggiungi-preferito' bici.pk %}" class="text-warning float-right">
                            <i class="far fa-star fa-2x"></i> <!-- Empty star icon -->
                        </a>
                    {% endif %}
                    <h5 class="card-title">{{ bici.type_of_bike }}</h5>
                    <p class="card-text">Brand: {{ bici.brand }}</p>
                    <p class="card-text">Venditore: {{ bici.vendor }}</p>
                    <p class="card-text">Prezzo: {{ bici.price }}</p>
                    <a href="{% url 'Acquista:aggiungi-al-carrello' bici.pk %}" class="btn btn-primary">Aggiungi al carrello</a>
                    <a href="{% url 'Acquista:home_acquisti' %}" class="btn btn-secondary float-right">Indietro</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



