{% extends 'base_acquisti.html' %}
{% load crispy_forms_tags %}



{% block content %}

    <style>
        .customBtn{
            margin-top: 20px;
            margin-right: 30px;
        }
    </style>

    <a href="{% url 'Acquista:home_acquisti' %}" class="btn btn-secondary float-right customBtn">Torna alla home</a>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" class="my-4">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="text-center">
                        <input type="submit" class="btn btn-success" value="Conferma">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
