{% extends 'base_acquisti.html' %}
{% block title %}
    Home Page
{% endblock %}


{% block content %}
    <style>
        .bike-image {
            width: 300px; /* Imposta la larghezza desiderata */
            height: 200px; /* Imposta l'altezza desiderata */
            object-fit: cover; /* Adatta l'immagine all'area del contenitore mantenendo l'aspect ratio */
            align-items: center;
        }
    </style>
    <br>
    <div class="container">
        {% if first_three_bike %}
            <div class="row">
                <div class="col">
                    <h2>Bici viste di recente</h2>
                    <div id="carousel1" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <!-- Schede delle bici -->
                            <div class="carousel-item active">
                                <div class="card-deck">
                                    {% for bike in first_three_bike %}
                                        <div class="card">
                                            <div class="card-img-container">
                                                <img src="{{ bike.image.url }}" class="card-img-top bike-image" alt="Bike Image">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title">{{ bike.brand }}</h5>
                                                <p class="card-text">Tipo: {{ bike.type_of_bike }}</p>
                                                <p class="card-text">Anno di produzione: {{ bike.year_of_production }}</p>
                                                <p class="card-text">Prezzo: {{ bike.price }}</p>
                                                <a href="{% url "Acquista:dettagliobici" bike.pk %}?next={{ request.path }}" class="btn btn-primary">Dettagli</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Altre schede delle bici -->
                            <div class="carousel-item">
                                <div class="card-deck">
                                    {% for bike in other_bike %}
                                        <div class="card">
                                            <div class="card-img-container">
                                                <img src="{{ bike.image.url }}" class="card-img-top bike-image" alt="Bike Image">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title">{{ bike.brand }}</h5>
                                                <p class="card-text">Tipo: {{ bike.type_of_bike }}</p>
                                                <p class="card-text">Anno di produzione: {{ bike.year_of_production }}</p>
                                                <p class="card-text">Prezzo: {{ bike.price }}</p>
                                                <a href="{% url "Acquista:dettagliobici" bike.pk %}?next={{ request.path }}" class="btn btn-primary">Dettagli</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                        {% if other_bike %}
                            <!-- Freccia sinistra -->
                            <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <!-- Freccia destra -->
                            <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="false"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        <br>
        <br>
        <div class="text-center">
            <h1 class="display-1">
                <a href="{% url "Acquista:listapreferiti" request.user.pk %}" class="discover-link">Vedi i tuoi preferiti!</a>
            </h1>
        </div>
        <br><br>
        <h2>Qualcosa che potrebbe interessarti</h2>
        <div class="row custom-row justify-content-center">
            {% if recommended1 %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ recommended1.image.url }}" class="card-img-top bike-image mx-auto" alt="{{ recommended1.brand }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ recommended1.brand }}</h5>
                            <p class="card-text">{{ recommended1.type_of_bike }}</p>
                            <p class="card-text">Year of Production: {{ recommended1.year_of_production }}</p>
                            <p class="card-text">Price: €{{ recommended1.price }}</p>
                            <a href="{% url "Acquista:dettagliobici" recommended1.pk %}?next={{ request.path }}" class="btn btn-primary float-right">Dettagli</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if recommended2 %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ recommended2.image.url }}" class="card-img-top bike-image mx-auto" alt="{{ recommended2.brand }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ recommended2.brand }}</h5>
                            <p class="card-text">{{ recommended2.type_of_bike }}</p>
                            <p class="card-text">Year of Production: {{ recommended2.year_of_production }}</p>
                            <p class="card-text">Price: €{{ recommended2.price }}</p>
                            <a href="{% url "Acquista:dettagliobici" recommended2.pk %}?next={{ request.path }}" class="btn btn-primary float-right">Dettagli</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if recommended3 %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ recommended3.image.url }}" class="card-img-top bike-image mx-auto" alt="{{ recommended3.brand }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ recommended3.brand }}</h5>
                            <p class="card-text">{{ recommended3.type_of_bike }}</p>
                            <p class="card-text">Year of Production: {{ recommended3.year_of_production }}</p>
                            <p class="card-text">Price: €{{ recommended3.price }}</p>
                            <a href="{% url "Acquista:dettagliobici" recommended3.pk %}?next={{ request.path }}" class="btn btn-primary float-right">Dettagli</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <br><br>
        <div class="col-md-6 mx-auto">
            {% if discounted_bike %}
                <h1>Un sconto esclusivo</h1>
                <div class="card">
                    <img src="{{ discounted_bike.bike.image.url }}" class="card-img-top bike-image mx-auto" alt="{{ discounted_bike.brand }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ discounted_bike.bike.brand }}</h5>
                        <p class="card-text">{{ discounted_bike.bike.type_of_bike }}</p>
                        <p class="card-text">Year of Production: {{ discounted_bike.bike.year_of_production }}</p>
                        <p class="card-text">Old price: €<del>{{ discounted_bike.bike.price }}</del></p>
                        <p class="card-text">New price: €{{ discounted_bike.newPrice }}</p>
                        <a href="{% url "Acquista:dettagliobici" discounted_bike.bike.pk %}?next={{ request.path }}" class="btn btn-primary float-right">Dettagli</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}




