{% extends 'base_acquisti.html' %}

{% block title %}Acquisti{% endblock %}

{% block content %}
    <style>
        .customBtn{
            margin-top: 20px;
            margin-right: 30px;
        }
    </style>

    <a href="{% url 'Acquista:home_acquisti' %}" class="btn btn-secondary float-right customBtn">Torna alla home</a>
    <br>
    <div class="d-flex justify-content-center">
        {% if order_list.count == 0 %}
            <div class="col-md-12">
                <h1 class="text-center">Non hai ancora effettuato ordini</h1>
            </div>
        {% else %}
            <ul class="list-group">
                {% for order in order_list %}
                    <br>
                    <li class="list-group-item">
                        <div class="card mb-4">
                            <div class="card-header text-center">
                                <h5 class="card-title">Ordine:</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    {% for sold_bike in order.sold_bikes.all %}
                                        <li class="list-group-item">{{ sold_bike.brand }} - {{ sold_bike.type_of_bike }}</li>
                                    {% endfor %}
                                </ul>
                                <p class="text-end mt-3"><strong>Totale: </strong>{{ order.total_price }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <br>
    {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <span class="page-link">{{ page_obj.number }}</span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock %}






