{% extends 'base_acquisti.html' %}

{% load custom_tag %}

{% block title %}
    Carrello degli acquisti
{% endblock %}

{% block content %}

    <style>
        .customBtn{
            margin-top: 20px;
            margin-right: 30px;
        }
    </style>

    <a href="{% url 'Acquista:home_acquisti' %}" class="btn btn-secondary float-right customBtn">Torna alla home</a>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Carrello degli acquisti</h1>
                {% if cart_items %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Bicicletta</th>
                            <th scope="col">Prezzo</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cart_items %}
                            <tr>
                                <td>{{ item.bike.type_of_bike }} - {{ item.bike.brand }}</td>
                                {% if discount_pk == item.bike.pk %}
                                    <td>{{ new_price }}</td>
                                {% else %}
                                    <td>{{ item.bike.price }}</td>
                                {% endif %}
                                <td>
                                    <a href="{% url 'Acquista:rimuovi-dal-carrello' item.bike.pk %}" class="btn btn-danger btn-sm">
                                        Rimuovi dal carrello
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center mt-4">
                        <a href="{% url 'Acquista:ordine_confermato' carrello_utente.pk %}" class="btn btn-primary">Conferma ordine</a>
                        <button id="deleteButton" class="btn btn-danger">Svuota carrello</button>
                        <button onclick="goBack()" class="btn btn-secondary">Indietro</button>
                    </div>
                {% else %}
                    {% with status=request.path|get_last_element:"/" %}
                        {% if status == "confirmed" %}
                            <p>Ordine completato con successo!</p>
                            <a href="{% url 'Acquista:ordini' %}" class="btn btn-primary">Vedi tutti gli ordini</a>
                        {% elif status == "flushed" %}
                            <p>Carrello svuotato correttamente!</p>
                        {% else %}
                            <p>Il carrello è vuoto!</p>
                            <a href="{% url 'Acquista:listabici' %}" class="btn btn-primary">Vai al catalogo</a>
                        {% endif %}

                    {% endwith %}

                {% endif %}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById("deleteButton").addEventListener("click", function () {
                var response = confirm("Sei sicuro di voler svuotare il carrello?");
                if (response === true) {
                    let xhr = new XMLHttpRequest();
                    xhr.open("POST", "{% url 'Acquista:svuota-carrello' carrello_utente.pk %}", true);
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");

                    xhr.onload = function () {
                        if (this.status >= 200 && this.status < 300) {
                            window.location.href = "{% url 'Acquista:carrello' status="flushed" %}";
                        } else {
                            alert("Errore: " + xhr.responseText);
                        }
                    };
                    xhr.send();
                }
            });

        });

    </script>

{% endblock %}
