{% extends 'base_acquisti.html' %}

{% block title %}
    Carrello degli acquisti
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Carrello degli acquisti</h1>
                {% if cart_items %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Bicicletta</th>
                            <th scope="col">Prezzo</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cart_items %}
                            <tr>
                                <td>{{ item.bike.type_of_bike }} - {{ item.bike.brand }}</td>
                                <td>{{ item.bike.price }}</td>
                                <td>
                                    <a href="{% url 'Acquista:rimuovi-dal-carrello' item.bike.pk %}" class="btn btn-danger btn-sm">
                                        Rimuovi dal carrello
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center mt-4">
                        <a href="{% url 'Acquista:ordine_confermato' carrello_utente.pk %}" class="btn btn-primary">Conferma ordine</a>
                        <button id="deleteButton" class="btn btn-danger">Svuota carrello</button>
                        <button onclick="goBack()" class="btn btn-secondary">Indietro</button>
                    </div>
                {% else %}
                    <p>Il carrello è vuoto.</p>
                    <button onclick="goBack()" class="btn btn-secondary">Indietro</button>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById("deleteButton").addEventListener("click", function () {
                var response = confirm("Sei sicuro di voler svuotare il carrello?");
                if (response === true) {
                    let xhr = new XMLHttpRequest();
                    xhr.open("POST", "{% url 'Acquista:svuota-carrello' carrello_utente.pk %}", true);
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");

                    xhr.onload = function () {
                        if (this.status >= 200 && this.status < 300) {
                            window.location.href = "{% url 'Acquista:carrello' %}";
                        } else {
                            alert("Errore: " + xhr.responseText);
                        }
                    };
                    xhr.send();
                }
            });

        });

    </script>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

{% endblock %}
