
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}