.navbar {
  background-color: #f8f9fa;
  padding: 10px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  margin-left: 15px;
}

.nav-link {
  color: #333;
  font-size: 18px;
  text-decoration: none;
}

.nav-link:hover {
  color: #007bff;
}

.navbar .ml-auto {
  margin-left: auto;
}

.navbar .mr-auto {
  margin-right: auto;
}
