  .discover-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 36px;
    color: #000;
    transition: color 0.3s;
  }

  .discover-link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s, background-color 0.3s;
  }

  .discover-link:hover {
    color: #fff;
  }

  .discover-link:hover::after {
    transform: scaleX(1);
    background-color: rgba(0, 0, 0, 0.8);
  }