{% extends 'base_vendor.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form method="post" class="my-4">
                    {% csrf_token %}
                    {{ form | crispy }}

                    <div class="mt-4 text-center">
                        <input type="submit" class="btn btn-success" value="Conferma">
                    </div>
                </form>
                <div class="text-center">
                    <a href="{% url 'Vendi:list_components' %}" class="btn btn-secondary">Lista pezzi</a>
                    <a href="{% url 'Vendi:home_vendor' %}" class="btn btn-secondary">Torna alla home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
