{% extends 'base_acquisti.html' %}
{% load crispy_forms_tags %}

{% block title %}Aggiungi una bici{% endblock %}

{% block nav %}
    {% if user.groups.all.0.name == "Users" %}
        {% include 'navbar_acquisti.html' %}
    {% elif user.groups.all.0.name == "Vendors"%}
        {% include 'navbar_vendor.html' %}
    {% endif %}
{% endblock %}

{% block content %}

    <style>
        .customBtn{
            margin-top: 20px;
            margin-right: 30px;
        }
    </style>

    <a href="{% url 'Vendi:home_vendor' %}" class="btn btn-secondary float-right customBtn">Torna alla home</a>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <form method="post" enctype="multipart/form-data" class="my-4">
        {% csrf_token %}
        {{ form | crispy }}

        <div class="mt-4 text-center">
          <input type="submit" class="btn btn-success" value="Conferma">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

