{% extends 'base_acquisti.html' %}

{% block title %}
    Lista delle bici
{% endblock %}

{% block nav %}
    {% if user.groups.all.0.name == "Vendors" %}

        {% include 'navbar_vendor.html' %}
    {% else %}
        {% include 'navbar_acquisti.html' %}
    {% endif %}
{% endblock %}


{% block content %}

    <style>
        .distanced {
            margin-right: 17px;
            margin-top: 25px;
        }

    </style>

    <div class="col-md-12">
        <div>
            <a href="{% url 'Vendi:add_bike' %}" class="btn btn-primary mt-4">Aggiungi una bici</a>
            {% if user.groups.all.0.name == "Users" %}
                <a href="{% url 'Acquista:home_acquisti' %}" class="btn btn-secondary float-right distanced">Torna alla home</a>
            {% elif user.groups.all.0.name == "Vendors"%}
                <a href="{% url 'Vendi:home_vendor' %}" class="btn btn-secondary float-right distanced">Torna alla home</a>
            {% else  %}
                <a href="{% url 'Acquista:home_acquisti' %}" class="btn btn-secondary float-right distanced">Torna alla home</a>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="col-md-12">
        <div class="row justify-content-center">
            {% if bici_in_vendita.count == 0 %}
                <div class="col-md-12">
                    <h1 class="text-center">Al momento non hai bici in vendita</h1>
                </div>
            {% else %}
                {% for bici in bici_in_vendita %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-img-container">
                                <img src="{{ bici.image.url }}" class="card-img-top bike-image" alt="{{ bici.type_of_bike }}">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ bici.type_of_bike }}</h5>
                                <p class="card-text">{{ bici.brand }}</p>
                                <a href="{% url 'Vendi:bike_update' bici.pk %}" class="btn btn-primary">Gestisci <i class="fas fa-wrench"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <span class="page-link">{{ page_obj.number }}</span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}




