{% extends 'base_vendor.html' %}

{% block title %}
    Lista dei componenti
{% endblock %}
{% load static %}

{% block content %}
    <br>
    <div class="container">
        <div class="d-flex justify-content-end">
            <button onclick="goBack()" class="btn btn-secondary">Indietro</button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Telaio</h2>
                <ul class="list-group">
                    {% for componente in telaio %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ componente.name }} - {{ componente.price }} €
                            <div>
                                <a href="{% url 'Vendi:add_component' %}?next={{ request.path }}" class="btn btn-success btn-sm"> <i class="fas fa-plus"></i></a>
                                <a href="{% url 'Vendi:update_component' componente.pk %}" class="btn btn-primary btn-sm mr-2"><i class="fas fa-pencil-alt"></i></a>
                                <button id="deleteButton-{{ componente.pk }}" class="btn btn-danger btn-sm" data-pk="{{ componente.pk }}"><i class="fas fa-times"></i></button>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Nessus pezzo disponibile
                            <div>
                                <a href="{% url 'Vendi:add_component' %}?next={{ request.path }}" class="btn btn-success btn-sm"> <i class="fas fa-plus"></i></a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h2>Manubrio</h2>
                <ul class="list-group">
                    {% for componente in manubrio %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ componente.name }} - {{ componente.price }} €
                            <div>
                                <a href="{% url 'Vendi:add_component' %}?next={{ request.path }}" class="btn btn-success btn-sm"> <i class="fas fa-plus"></i></a>
                                <a href="{% url 'Vendi:update_component' componente.pk %}" class="btn btn-primary btn-sm mr-2"><i class="fas fa-pencil-alt"></i></a>
                                <button id="deleteButton-{{ componente.pk }}" class="btn btn-danger btn-sm" data-pk="{{ componente.pk }}"><i class="fas fa-times"></i></button>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Nessus pezzo disponibile
                            <div>
                                <a href="{% url 'Vendi:add_component' %}?next={{ request.path }}" class="btn btn-success btn-sm"> <i class="fas fa-plus"></i></a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h2>Freno</h2>
                <ul class="list-group">
                    {% for componente in freno %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ componente.name }} - {{ componente.price }} €
                            <div>
                                <a href="{% url 'Vendi:add_component' %}?next={{ request.path }}" class="btn btn-success btn-sm"> <i class="fas fa-plus"></i></a>
                                <a href="{% url 'Vendi:update_component' componente.pk %}" class="btn btn-primary btn-sm mr-2"><i class="fas fa-pencil-alt"></i></a>
                                <button id="deleteButton-{{ componente.pk }}" class="btn btn-danger btn-sm" data-pk="{{ componente.pk }}"><i class="fas fa-times"></i></button>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Nessus pezzo disponibile
                            <div>
                                <a href="{% url 'Vendi:add_component' %}?next={{ request.path }}" class="btn btn-success btn-sm"> <i class="fas fa-plus"></i></a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h2>Sellino</h2>
                <ul class="list-group">
                    {% for componente in sellino %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ componente.name }} - {{ componente.price }} €
                            <div>
                                <a href="{% url 'Vendi:add_component' %}?next={{ request.path }}" class="btn btn-success btn-sm"> <i class="fas fa-plus"></i></a>
                                <a href="{% url 'Vendi:update_component' componente.pk %}" class="btn btn-primary btn-sm mr-2"><i class="fas fa-pencil-alt"></i></a>
                                <button id="deleteButton-{{ componente.pk }}" class="btn btn-danger btn-sm" data-pk="{{ componente.pk }}"><i class="fas fa-times"></i></button>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Nessus pezzo disponibile
                            <div>
                                <a href="{% url 'Vendi:add_component' %}?next={{ request.path }}" class="btn btn-success btn-sm"> <i class="fas fa-plus"></i></a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h2>Copertoni</h2>
                <ul class="list-group">
                    {% for componente in copertoni %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ componente.name }} - {{ componente.price }} €
                            <div>
                                <a href="{% url 'Vendi:add_component' %}?next={{ request.path }}" class="btn btn-success btn-sm"> <i class="fas fa-plus"></i></a>
                                <a href="{% url 'Vendi:update_component' componente.pk %}" class="btn btn-primary btn-sm mr-2"><i class="fas fa-pencil-alt"></i></a>
                                <button id="deleteButton-{{ componente.pk }}" class="btn btn-danger btn-sm" data-pk="{{ componente.pk }}"><i class="fas fa-times"></i></button>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Nessus pezzo disponibile
                            <div>
                                <a href="{% url 'Vendi:add_component' %}?next={{ request.path }}" class="btn btn-success btn-sm"> <i class="fas fa-plus"></i></a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var deleteButtons = document.querySelectorAll('[id^="deleteButton-"]');
            deleteButtons.forEach(function (button) {
                button.addEventListener("click", function () {
                    var response = confirm("Sei sicuro di voler eliminare il componente?");
                    var pk = button.getAttribute("data-pk");
                    var url = "{% url 'Vendi:delete_component' 0 %}";  // 0 placeholder per il valore di pk
                    var finalUrl = url.replace("0", pk);
                    if (response === true) {
                        let xhr = new XMLHttpRequest();
                        xhr.open("POST", finalUrl, true);
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");

                        xhr.onload = function () {
                            if (this.status >= 200 && this.status < 300) {
                                window.location.href = "{% url 'Vendi:list_components' %}";
                            } else {
                                alert("Errore: " + xhr.responseText);
                            }
                        };
                        xhr.send();
                    }
                });
            });
        });
    </script>
{% endblock %}
