<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <p class="footer-text">&copy; 2023 BikePlace. Tutti i diritti riservati.</p>
            </div>
            <div class="col-lg-4 text-center">
                <p class="footer-text">Autore: Federico Melis</p>
            </div>
            <div class="col-lg-4">
                <div class="footer-icons ml-auto">
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-tiktok"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>


