<style>
    html,
    body {
        height: 100%;
    }

    .footer .container {
        width: 100%;
    }

    .content {
        min-height: calc(100% - 90px); /* Altezza della pagina meno l'altezza del footer */
        padding-bottom: 60px; /* Altezza del footer */
    }

    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #333;
        color: #fff;
        padding: 10px;
        height: 60px; /* Altezza del footer */
        display: flex;
        align-items: center;
    }

    .footer-text {
        margin: 0;
    }

    .footer-icons {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }

    .footer-icons a {
        margin-left: 10px;
        color: #fff;
    }
</style>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <p class="footer-text">&copy; 2023 BikePlace. Tutti i diritti riservati.</p>
            </div>
            <div class="col-lg-4 text-center">
                <p class="footer-text">Autore: Federico Melis</p>
            </div>
            <div class="col-lg-4">
                <div class="footer-icons ml-auto"> <!-- Aggiunto ml-auto per spingere gli elementi a destra -->
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-tiktok"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
