{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block nav %}
    {% if user.groups.all.0.name == "Users" %}
        {% include 'navbar_acquisti.html' %}
    {% elif user.groups.all.0.name == "Vendors"%}
        {% include 'navbar_vendor.html' %}
    {% endif %}
{% endblock %}

{% block title %}Modifica profilo{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Modifica Profilo
                    </div>
                    <div class="card-body" >
                        <div class="mb-4">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <input type="submit" class="btn btn-success align-left" value="Salva Modifiche">
                            </form>
                            <br>
                            <div class="button-container">
                                <div class="text-left">
                                    <button id="deleteButton" class="btn btn-danger">Elimina profilo</button>
                                </div>
                                <div class="text-right">
                                    <button onclick="goBack()" class="btn btn-secondary">Indietro</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById("deleteButton").addEventListener("click", function () {
                var response = confirm("Sei sicuro di voler eliminare il profilo?");
                if (response === true) {
                    let xhr = new XMLHttpRequest();
                    xhr.open("POST", "{% url 'elimina_profilo' object.pk %}", true);
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");

                    xhr.onload = function () {
                        if (this.status >= 200 && this.status < 300) {
                            window.location.href = "{% url 'welcome_page' %}";
                        } else {
                            alert("Errore: " + xhr.responseText);
                        }
                    };
                    xhr.send();
                }
            });

        });

    </script>
{% endblock %}

