{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Modifica Profilo
                    </div>
                    <div class="card-body" >
                        <div class="mb-4">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <input type="submit" class="btn btn-success align-left" value="Salva Modifiche">
                            </form>
                            <div class="text-right">
                                <button onclick="goBack()" class="btn btn-secondary lef">Indietro</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}

