{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        {% if user.groups.first.name == "Users"%}
                            <h4 class="card-title">Dettagli Utente</h4>
                        {% elif user.groups.first.name == "Vendors"%}
                            <h4 class="card-title">Dettagli Venditore</h4>
                        {% else %}
                            <h4 class="card-title">Dettagli Admin</h4>
                        {% endif %}
                    </div>
                    <div class="card-body text-center">
                        <div class="mb-4">
                            {% if user.picture %}
                                <img src="{{ user.picture.url }}" class="img-fluid rounded-circle" alt="Foto Profilo">
                            {% else %}
                                <img src="{% static '/images/default_profile.jpg' %}" class="img-fluid rounded-circle" alt="Foto Profilo">
                            {% endif %}
                        </div>
                        <h5 class="card-title">Nome: {{ user.first_name }}</h5>
                        <h5 class="card-title">Cognome: {{ user.last_name }}</h5>
                        <p class="card-text">Email: {{ user.email }}</p>
                        <p class="card-text">Username: {{ user.username }}</p>
                        <p class="card-text">Data di registrazione: {{ user.date_joined }}</p>
                        <a href="{% url 'modifica_profilo' user.pk %}" class="btn btn-primary">Modifica Profilo</a>
                        <button onclick="goBack()" class="btn btn-secondary">Indietro</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}
