{% extends 'base.html' %}
{% block title %}
    Benvenuto su BikePlace
{% endblock %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/style.css' %}">

<body>
{% block content %}
    <div class="main-container text-center center-container">
        {% if user.is_authenticated %}
            <h1>Ciao {{ user.username }}! Benvenuto su BikePlace </h1>
            <p>{% for foo in user.groups.all %}
                {{ foo.name }}
            {% endfor %}
            </p>
            <p>DEBUG: Sei loggato</p>
            <a href="{% url "logout" %}" class="btn btn-primary">Logout</a>
        {% else %}
            <h1>Benvenuto su BikePlace</h1>
            <p>DEBUG: Non sei loggato</p>
            <a href="{% url "login" %}" class="btn btn-primary">Login</a>
            <a href="{% url "user_registrazione" %}" class="btn btn-secondary">Non hai un account? Registrati!</a>
            <h3><a href="{% url "vendor_registrazione" %}">Sei un'azienda? Vuoi espandere il tuo mercato su BikePlace? Registrati qui!</a></h3>
        {% endif %}
        <h3><a href="{% url "Acquista:listabici" %}">Scopri subito le bici</a></h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        {% if user.groups.all.0.name == "Users" %}
            <div class="text-center">
                <h1 class="display-1">
                    <a href="{% url "Acquista:home_acquisti" %}" class="discover-link">Scopri la bici dei tuoi sogni!</a>
                </h1>
            </div>
            <div class="text-center">
                <h1 class="display-1">
                    <a href="{% url "Vendi:home_vendite" %}" class="discover-link">Valorizza il tuo usato!</a>
                </h1>
            </div>

        {% elif user.groups.all.0.name == "Vendors" %}
            <div class="text-center">
                <h1 class="display-1">

{#                    TODO: link alla home dei produttori#}

                    <a href="{% url "Vendi:home_vendor" %}" class="discover-link">Home produttori!</a>
                </h1>
            </div>

        {% else %}
            <div class="text-center">
                <h1 class="display-1">
                    <a href="{% url "Acquista:listabici" %}" class="discover-link">Vedi subito le bici!</a>
                </h1>
            </div>

        {% endif  %}
    </div>
{% endblock %}
</body>

